*{
  margin: 0px;
}

h1, h2{text-align: center;}

.centerflex{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.main{
  position: relative;
  height: 1000px;
  background-image: url(./src/bgpic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.main h1{
  padding-top: 250px;
  font-size: 40px;
}

.fixed-btn{
  position: fixed;
  right: 3%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 15px;
  background-color: #ffffff;
  z-index: 999;
  cursor: pointer;
}

.down-btn{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 49%;
  bottom: 60px;
  
  animation: move_down 1.5s infinite;
  -webkit-animation: move_down 1.5s infinite;
  cursor: pointer;
}

@keyframes move_down {
    from {
        transform: translatey(-10px);
        opacity: 0.5;
    }
    to {
        transform: translatey(10px);
        opacity: 1;
    }
}

div.intro{
  display: none;
  position: relative;
  padding: 0 0 0 0;
  height: 800px;
}

.imgbox{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.intro .textbox{
  position: absolute;
  height: 100%;
  left: 29%;
  right: 0;
  background-color: #faf9d7cc;
}

div.intro .contentblock{
  padding: 100px 20% 0 20%;
  line-height: 170%;
  font-family: 华文楷体;
  font-size: 25px;
}

div.intro h1{
  padding-top: 70px;
  font-size: 45px;
  letter-spacing: 8px;
}

div.intro h2{
  padding-top: 5px;
  font-size: 25px;
  transfrom: translate(-0.4%);
  -webkit-transform: translate(-0.4%);
  letter-spacing: 1px;
}
