body{
  margin: 0px;
}

div.main{
  padding: 0 0 0 0;
  height: 1000px;
  background-image: url(./src/bgpic.png);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

div.fixed-btn{
  position: fixed;
  right: 3%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 15px;
  background-color: #ffffff;
  z-index: 999;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
