div.main{
  height: 1000px;
  background-image: linear-gradient(#ffffff, #e0ffff);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

div.fixed-btn{
  position: fixed;
  right: 3%;
  bottom: 5%;
  width: 50px;
  border: 1px solid #eee;
  font-size: 20px;
  z-index: 999;
}
